
  <div class="main__StyledWorkspaceMain">
    <section class="workspace__StyledWorkspaceSection">
      <div class="container__StyledWorkspaceContainer">
        <div class="main__StyledWorkspaceMain">
          <div class="text__StyledWorkspaceText">
            <h2>Selecciona un espacio, <br><span>comienza tu reserva.</span></h2>
          </div>
          <div class="cards__StyledWorkspaceCards">
            <section class="page-contain">
              <a routerLink='/space' routerLinkActive="active" class="data-card x2">
                <h3><span>RESERVA</span> PUESTOS DE TRABAJO</h3>
                <p>Consulta la disponibilidad de los puestos de trabajo ¡y gestiona tu tiempo!</p>
                <span class="link-text">
                  Ver todas las opciones
                  <svg width="25" height="16" viewBox="0 0 25 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z"
                      fill="#dadd02" />
                  </svg>
                </span>
              </a>
              <!-- Card con redirección a histórico -->
              <a routerLink='/conference' routerLinkActive="active" class="data-card x2">
                <h3><span>RESERVA</span> SALA DE REUNIONES</h3>
                <p>Consulta la disponibilidad del espacio habilitado para tus reuniones ¡y evita sorpresas!.</p>
                <span class="link-text">
                  Ver todas las opciones
                  <svg width="25" height="16" viewBox="0 0 25 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z"
                      fill="#dadd02" />
                  </svg>
                </span>
              </a>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
