@use 'var.scss';

@font-face {
  font-family: 'Gelion';
  src: url('../../../assets/fonts/Gelion/Gelion-Regular.ttf');
}

.pages__StyledMainContainer {
  background-image: url(../../../assets/images/colleagues-giving-fist-bump.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__StyledHeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 87.3vh;
  padding-top: 100px;
}

span {
  color: var.$green;
}

h1 {
  color: var.$green;
  font-size: var.$fz-md;
  font-weight: 600;
  font-family: var.$font-sans;
}

p {
  margin: 0px 0px 40px 30px;
  color: var.$white;
  font-size: clamp(20px, 6vw, 90px);
  font-weight: 600;
  line-height: 1.2;
}

.hero__StyledTextHero {
  color: var.$green;
  font-family: var.$font-sans;
  font-size: var.$fz-lg;
}

.resume-button {
  display: flex;
  color: var.$white;
  border-radius: 25px;
  padding: 0.75rem 3rem;
  cursor: pointer;
  font-size: var.$fz-md;
  text-decoration: none;
  font-family: var.$font-sans;
  font-weight: 600;
  margin: 0px 0px 0px 22px;
  background-color: var.$green;
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.2s;
  transition: .5s;

  &:hover,
  &focus,
  &:active {
    outline: currentcolor none medium;
    background-color: var.$white;
    color: black;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-240px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}