
  <main class="pages__StyledMainContainer">
    <section id="start" class="hero__StyledHeroSection">
      <div>
        <p class="hero__StyledTextHero">
          Gestión de reservas
        </p>
        <br>
      </div>
      <div class="fadeup-enter-writed">
        <p>
          ¿Necesitas disponer de<br>un <span>espacio de trabajo?</span>
        </p>
      </div>
      <div>
        <a [routerLink]="['/register']" title="Registra tu cuenta" class="resume-button"
          style="transition-delay: 100ms;">¡SI,
          QUIERO!</a>
      </div>
    </section>
  </main>
  <section>
    <div class="main-section">
      <div class="container">
        <div class="container1 oficinas-izquierda">
        </div>
        <div class="container2 isla-central"></div>
        <div class="container3 oficinas-derecha"></div>
      </div>
    </div>
  </section>
