
  <div class="modal fade" id="editPassword" tabindex="-1" aria-labelledby="editPassword" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal___title" id="editPass">Editar contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editPassword" (ngSubmit)="editMyPass()">
            <div class="form-group">
              <div class="mb-2">
                <label class="m-3">*Nueva contraseña:</label>
                <input class="mb-2" type="password" class="form-control" formControlName="password">
                <p *ngIf="checkControl('password', 'required')" class="text-danger mt-1 small">La contraseña ha sido
                  guardada.
                </p>
                <p *ngIf="checkControl('password', 'minlength')" class="text-danger mt-1 small">La contraseña debe
                  contener entre 8 y 20 caracteres.</p>
                <p *ngIf="checkControl('password', 'maxlength')" class="text-danger mt-1 small">La contraseña debe
                  contener entre 8 y 20 caracteres.</p>
              </div>
            </div>
            <div class="form-group">
              <div class="mb-2">
                <label class="m-3">*Repite la contraseña.</label>
                <input class="m-3" type="password" class="form-control" formControlName="repeatPass">
                <p *ngIf="editPassword.hasError('samePass') && touchedReset('repeatpass')"
                  class="text-danger mt-1 small">La
                  contraseña no coincide.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button data-bs-dismiss="modal" type="submit" value="send"
                class="editPass___btn btn mt-3">Aceptar</button>
            </div>
            <!-- [disabled]="!editPassword.valid" -->
          </form>
        </div>
      </div>
    </div>
  </div>
