@use 'var.scss';

.modal-content {
  border-radius: 25px;
  background-color: #020926d8;
}

.editPass___btn {
  padding: 7px 12px;
  background: var.$green;
  border: 1px solid var.$green;
  color: white;
  border-radius: 50px;
  font-size: var.$fz-xl;
  text-decoration: none;
  font-weight: 500;
  font-family: var.$font-sans;
  transition: all .1s ease;

  &:hover,
  &focus,
  &:active {
    outline: currentcolor none medium;
    background-color: white;
    color: black;
  }
}

.form-control {
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 25px;
  border: none;
  color: white;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 .25rem var.$green;
  }
}

.modal-header {
  border-bottom: 1px solid var.$green
}

.modal-footer {
  border: none;
}

.m-3 {
  color: white;
  font-family: var.$font-sans;
}

.modal___title {
  color: var.$green;
  font-size: var.$fz-xxl;
  margin-bottom: 2px;
  font-family: var.$font-sans;
}