
  <div class="courses-container">
    <div class="course">
      <div class="course-preview">
        <h6>Reserva</h6>
        <h2>
          {{ myReserve.user.name }}
        </h2>
        <h2>
          {{ myReserve.user.surname }}
        </h2>
      </div>
      <div class="course-info">
        <div class="progress-container">
        </div>
        <h3><span>Fecha:</span>
          {{ myReserve.date | date: 'dd-MM-yyyy'}}
        </h3>
        <h3><span>Sala:</span>
          Reservado el {{ myReserve.workSpace.name }}
        </h3>
        <h3><span>Compañia:</span>
          {{ myReserve.user.company }}
        </h3>
      </div>
      <a title="Borrar usuario" class="delete" id="delete" (click)="onDelete(myReserve?.id)"><i
          class="fa-solid fa-trash-can"></i></a>
    </div>
  </div>
