<form [formGroup]="formReserve" (ngSubmit)="onSubmit()">
  <div class="container__StyledMainContainer">
    <section class="right__StyledFormRightSection">
      <div class="date__StyledDateForm">
        <div class="text__StyledText">
          <p>Elige tus <span>opciones:</span></p>
        </div>
      </div>
      <div class="container">
        <div class="right">
          <div class="header">
            <h4 class="animation a2">*Selecciona una fecha y completa los campos para formalizar la reserva.</h4>
          </div>
          <div class="form">
            <input type="date" class="form-field animation a3" (change)="OnDate($event)">
            <input maxlength="150" type="text" name="description" class="form-field animation a3"
              placeholder="*Descripción de la reserva (max.150)" formControlName="description">
            <input type="submit" class="resume-button" value="ACEPTAR">

          </div>
          <div class="courses-container-back">
            <article *ngFor="let reserve of reserveFiltered">
              <app-flatview [myReserve]="reserve"></app-flatview>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="left__StyledSpacesLeftSection">
      <div class="grid__StyledGridSpaces">
        <div class="text__StyledText">
          <p>Selecciona tu <span>espacio</span></p>
        </div>
        <div class="separador-salareuniones">
          <div class="text remove__StyledRemoveItem space">
          </div>
          <div class="text">
            <p>Espacio central Ultrón</p>
            <div class="espacio-central-1">
              <div>
                <input id="checkbox-01" class="checkbox" value="10" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-01"><i class="fa-solid fa-computer"></i>Puesto 10</label>
              </div>
              <div>
                <input id="checkbox-1" class="checkbox" value="11" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-1"><i class="fa-solid fa-computer"></i>Puesto 11</label>
              </div>
              <div>
                <input id="checkbox-2" class="checkbox" value="12" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-2"><i class="fa-solid fa-computer"></i>Puesto 12</label>
              </div>
              <div>
                <input id="checkbox-3" class="checkbox" value="13" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-3"><i class="fa-solid fa-computer"></i>Puesto 13</label>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__StyledGridSpaces-2">
          <div class="text">
            <p>Espacio Eris Bitwork</p>
            <div class="separador-sala-1">
              <div>
                <input id="checkbox-4" class="checkbox" value="1" formControlName="spaceId" name="spaceId" type="radio">
                <label for="checkbox-4"><i class="fa-solid fa-computer"></i>Puesto 1</label>
              </div>
              <div>
                <input id="checkbox-5" class="checkbox" value="2" formControlName="spaceId" name="spaceId" type="radio">
                <label for="checkbox-5"><i class="fa-solid fa-computer"></i>Puesto 2</label>
              </div>
              <div>
                <input id="checkbox-6" class="checkbox" value="3" formControlName="spaceId" name="spaceId" type="radio">
                <label for="checkbox-6"><i class="fa-solid fa-computer"></i>Puesto 3</label>
              </div>
              <div>
                <input id="checkbox-7" class="checkbox" value="4" formControlName="spaceId" name="spaceId" type="radio">
                <label for="checkbox-7"><i class="fa-solid fa-computer"></i>Puesto 4</label>
              </div>
            </div>
          </div>
          <div class="text">
            <p>Espacio central Ares</p>
            <div class="espacio-central-2">
              <div>
                <input id="checkbox-8" class="checkbox" value="14" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-8"><i class="fa-solid fa-computer"></i>Puesto 14</label>
              </div>
              <div>
                <input id="checkbox-9" class="checkbox" value="15" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-9"><i class="fa-solid fa-computer"></i>Puesto 15</label>
              </div>
              <div>
                <input id="checkbox-10" class="checkbox" value="16" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-10"><i class="fa-solid fa-computer"></i>Puesto 16</label>
              </div>
              <div>
                <input id="checkbox-11" class="checkbox" value="17" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-11"><i class="fa-solid fa-computer"></i>Puesto 17</label>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__StyledGridSpaces-3">
          <div class="text removed-item">
            <p>Espacio Ceres</p>
            <div class="separador-sala-2">
              <div>
                <input id="checkbox-12" class="checkbox" value="18" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-12"><i class="fa-solid fa-computer"></i> Puesto 18</label>
              </div>
              <div>
                <input id="checkbox-13" class="checkbox" value="19" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-13"><i class="fa-solid fa-computer"></i> Puesto 19</label>
              </div>
            </div>
          </div>
          <div class="espacio-central-3">
            <div class="text right_styled">
              <p>Espacio Plutón Marketing</p>
              <div class="espacio-3">
                <div class="espacio">
                  <div>
                    <input id="checkbox-14" class="checkbox" value="5" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-14"><i class="fa-solid fa-computer"></i> Puesto 5</label>
                  </div>
                </div>
                <div class="espacio-4">
                  <div>
                    <input id="checkbox-15" class="checkbox" value="6" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-15"><i class="fa-solid fa-computer"></i>Puesto 6</label>
                  </div>
                  <div>
                    <input id="checkbox-16" class="checkbox" value="7" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-16"><i class="fa-solid fa-computer"></i>Puesto 7</label>
                  </div>
                  <div>
                    <input id="checkbox-17" class="checkbox" value="8" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-17"><i class="fa-solid fa-computer"></i>Puesto 8</label>
                  </div>
                  <div>
                    <input id="checkbox-18" class="checkbox" value="9" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-18"><i class="fa-solid fa-computer"></i>Puesto 9</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="text left_styled">
              <p>Espacio central Thanos</p>
              <div class="interior-espacio-central-3">
                <div>
                  <div>
                    <input id="checkbox-19" class="checkbox" value="20" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-19"><i class="fa-solid fa-computer"></i>Puesto 20</label>
                  </div>
                </div>
                <div>
                  <input id="checkbox-20" class="checkbox" value="21" formControlName="spaceId" name="spaceId"
                    type="radio">
                  <label for="checkbox-20"><i class="fa-solid fa-computer"></i>Puesto 21
                  </label>
                </div>
                <div>
                  <input id="checkbox-21" class="checkbox" value="22" formControlName="spaceId" name="spaceId"
                    type="radio">
                  <label for="checkbox-21"><i class="fa-solid fa-computer"></i>Puesto 22</label>
                </div>
                <div>
                  <input id="checkbox-22" class="checkbox" value="23" formControlName="spaceId" name="spaceId"
                    type="radio">
                  <label for="checkbox-22"><i class="fa-solid fa-computer"></i>Puesto 23</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</form>