<div class="courses-container">
  <div class="course">
    <div class="course-preview">
      <h6>Reserva </h6>
      <h2>
        {{ myMeeting.user.name }}
      </h2>
      <h2>
        {{ myMeeting.user.surname }}
      </h2>
    </div>
    <div class="course-info">
      <div class="progress-container">
      </div>
      <h3><span>Fecha:</span>
        {{ myMeeting.startHour | date: 'dd/MM HH:mm' }} hasta {{ myMeeting.endHour | date: 'HH:mm' }}
      </h3>
      <h3><span>Sala:</span>
        Sala de reuniones
      </h3>
      <h3><span>Compañia:</span>
        {{ myMeeting.user.company }}
      </h3>

    </div>