// Principales

$dark-blue: #020926;
$green: #dadd02;
$white: #ffffff;

// Degradados logotipo

$light-green: rgb(218, 221, 2);
$light-green-2: rgb(191, 195, 4);

// Fuentes

$font-sans: 'Gelion',
  'Arial',
  sans-serif;

$font-support: 'Netto',
  'Arial',
  sans-serif;


$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;
$border-radius: 4px;
$nav-height: 100px;
$nav-scroll-height: 70px;
$tab-height: 42px;
$tab-width: 120px;
$content-width: calc(40vw - 84px);
$margin: 20px;
$spacing: 20px;