
  <div class="main__StyledCalendarMain">
    <div class="wrapper-calendar">
      <div class="calendar__StyledCalendarHeader">
        <div>
          <button (click)="changeMonth(-1)" class="btn-prev"><i class="fa-solid fa-arrow-left-long"></i></button>
        </div>
        <h1>{{ dateSelect | date: 'MMMM , yyyy'}}</h1>
        <div>
          <button (click)="changeMonth(1)"><i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
      </div>
      <!-- Day of week -->
      <ol role="list" class="week__StyledWeekCalendar">
        <li *ngFor="let day of week" class="day-name">{{ day | slice: 0: 3 }}</li>

        <li class="calendar_day" (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
          *ngFor="let day of monthSelect; let first = first" [ngClass]="{ daySelected : day.haveReserve }">
          <span>{{ day?.value }}</span>
        </li>
      </ol>
    </div>
  </div>


